body {
    font-family: sans-serif;
    background-color: black;
    position: relative;
    width: 100%;
    height: 2048px;

}

header{
    background-image: url(header.jpg);
    background-repeat: round;
    position: absolute;
    height: 170px;
    width: 100%;
}

header img{
    margin-left: 20%;
}
.one{
    background-image: url(image1.jpg);
    position: relative;
    background-repeat: round;
    
    opacity: 0.9;
    width: 100%;
    height: 810px;
    left: 0px;
    top: 171px;
    
}

.one p{
position: absolute;
width: 838px;
left: 30px;
top: 6px;
font-family: Roboto;
font-style: normal;
font-size: 25px;

color: #FFFFFF;
}

.one_t{
    
position: absolute;
height: 353px;
left: 26px;
top: 400px;
}

.one_t p{
position: relative;
width: 686px;
height: 267px;
left: 736px;
top: 0px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;

}

.one_t a{
    font-size: 24px;
    text-decoration: none;
    display: block;
    position: relative;
    width: 288px;
    height: 56px;
    text-align: center;
    background: rgba(196, 196, 196, 0.5);
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    padding-top:25px;
    color: #FFFFFF;
}

.qwe{
background-image: url(image2.jpg);
position: absolute;
background-repeat: round;
opacity: 0.9;
width: 100%;
height: 1024px;
top: 980px;

}

.prolog{
position: absolute;
width: 80%;
height: 146px;
left: 0px;
top: 100px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 14px;
opacity: 1;
color: #FFFFFF;
}

.drug{
position: absolute;
width: 80%;
height: 273px;
left: 0px;
top: 200px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 14px;
opacity: 1;
color: #FFFFFF;
}
.tank{

position: absolute;
width: 80%;
height: 352px;
top: 500px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 14px;
opacity: 1;
color: #FFFFFF;
}
.savoya{
position: absolute;
height: 352px;
top: 800px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 14px;
width: 80%;
color: #FFFFFF;
opacity: 1;
}

.qwe h1{
    position: absolute;
opacity: 1;
height: 75px;
left: 629px;
top: 0px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 75px;

color: black;
}
a:hover{
    border:3px solid white ;
    box-shadow: 10px 5px 5px grey;
}